{% extends "base.html" %}

{% block title_content %}
W2Blog
{% endblock %}

{% block main_content %}

<main>
    <section id="editarticle">
        <div class="container">
            <div class="mt-5 pt-5">
                <h2 class="mb-5 text-center">Create Article</h2>
                    <form class="mb-4" method="POST" enctype="multipart/form-data" action="{{url_for('edit')}}">
                        <div class="form-outline mb-4">
                            {{cntxt['eform'].title}}
                            {{cntxt['eform'].title.label(class="form-label")}}
                        </div>
                        <div class="form-outline mb-4">
                            {{cntxt['eform'].subtitle}}
                            {{cntxt['eform'].subtitle.label(class="form-label")}}
                        </div>
                        <div class="form-outline mb-4">
                            {{cntxt['eform'].image}}
                            {{cntxt['eform'].image.label(class="form-label", style="cursor: pointer;")}}
                        </div>
                        <div class="form-outline mb-4">
                            {{cntxt['eform'].body}}
                            {{cntxt['eform'].body.label(class="form-label")}}
                        </div>
                        <div>
                            <div class="text-center m-4">
                                <h5>Add Categories:</h5>
                            </div>
                            {% for c in cntxt['categories'] %}
                            <div class="m-4 d-inline bg-info rounded p-1">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value="{{c.id}}"
                                    name="category{{c.id}}"
                                    id="category{{c.id}}"
                                />
                                <label class="form-check-label" for="category{{c.id}}">
                                    {{c.name}}
                                </label>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <div>
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{cntxt['csrf_token']}}">
                        </div>
                        {{cntxt['eform'].submitbutton(class="btn btn-primary btn-block mt-5")}}
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}