<!-- Circle Icons -->
{% macro circle_social(s_name, s_link) %}
{% if s_name=="facebook" %}
<!-- Facebook -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="{{s_link}}" role="button"><i
        class="fab fa-facebook-f"></i></a>
{% endif %}
{% if s_name=="twitter" %}
<!-- Twitter -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="{{s_link}}" role="button"><i
        class="fab fa-twitter"></i></a>
{% endif %}
{% if s_name=="google" %}
<!-- Google -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="{{s_link}}" role="button"><i
        class="fab fa-google"></i></a>
{% endif %}
{% if s_name=="instagram" %}
<!-- Instagram -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="{{s_link}}" role="button"><i
        class="fab fa-instagram"></i></a>
{% endif %}
{% if s_name=="linkedin" %}
<!-- Linkedin -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="{{s_link}}" role="button"><i
        class="fab fa-linkedin-in"></i></a>
{% endif %}
{% if s_name=="github" %}
<!-- Github -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="{{s_link}}" role="button"><i
        class="fab fa-github"></i></a>
{% endif %}
{% if s_name=="whatsapp" %}
<!-- Whatsapp -->
<a class="btn btn-primary btn-floating m-1" style="background-color: #25d366;" href="{{s_link}}" role="button"><i
        class="fab fa-whatsapp"></i></a>
{% endif %}
{% endmacro %}
<!-- Circle Icons -->


<!-- SQR Icons -->
{% macro sqr_social(s_name, s_link) %}
{% if s_name=="whatsapp" %}
<!-- Whatsapp -->
<a class="btn btn-primary mx-2" style="background-color: #25d366;" href="{{s_link}}" role="button"><i
        class="fab fa-whatsapp"></i></a>
{% endif %}
{% if s_name=="facebook" %}
<!-- Facebook -->
<a class="btn btn-primary mx-2" style="background-color: #3b5998;" href="{{s_link}}" role="button"><i
        class="fab fa-facebook-f"></i></a>
{% endif %}
{% if s_name=="twitter" %}
<!-- Twitter -->
<a class="btn btn-primary mx-2" style="background-color: #55acee;" href="{{s_link}}" role="button"><i
        class="fab fa-twitter"></i></a>
{% endif %}
{% if s_name=="instagram" %}
<!-- Instagram -->
<a class="btn btn-primary mx-2" style="background-color: #ac2bac;" href="{{s_link}}" role="button"><i
        class="fab fa-instagram"></i></a>
{% endif %}
{% if s_name=="google" %}
<!-- Google -->
<a class="btn btn-primary mx-2" style="background-color: #dd4b39;" href="{{s_link}}" role="button"><i
        class="fab fa-google"></i></a>
{% endif %}
{% if s_name=="linkedin" %}
<!-- Linkedin -->
<a class="btn btn-primary mx-2" style="background-color: #0082ca;" href="{{s_link}}" role="button"><i
        class="fab fa-linkedin-in"></i></a>
{% endif %}
{% if s_name=="github" %}
<!-- Github -->
<a class="btn btn-primary mx-2" style="background-color: #333333;" href="{{s_link}}" role="button"><i
        class="fab fa-github"></i></a>
{% endif %}
{% endmacro %}
<!-- SQR Icons -->


<!-- Rounded Icons -->
{% macro rounded_social(s_name, s_link) %}
{% if s_name=="facebook" %}
<!-- Facebook -->
<a class="btn btn-primary btn-rounded" style="background-color: #3b5998;" href="{{s_link}}" role="button">
    <i class="fab fa-facebook-f"></i></a>
{% endif %}
{% if s_name=="twitter" %}
<!-- Twitter -->
<a class="btn btn-primary btn-rounded" style="background-color: #55acee;" href="{{s_link}}" role="button">
    <i class="fab fa-twitter"></i></a>
{% endif %}
{% if s_name=="instagram" %}
<!-- Instagram -->
<a class="btn btn-primary btn-rounded" style="background-color: #ac2bac;" href="{{s_link}}" role="button">
    <i class="fab fa-instagram"></i></a>
{% endif %}
{% if s_name=="linkedin" %}
<!-- Linkedin -->
<a class="btn btn-primary btn-rounded" style="background-color: #0082ca;" href="{{s_link}}" role="button">
    <i class="fab fa-linkedin-in"></i></a>
{% endif %}
{% if s_name=="google" %}
<!-- Google -->
<a class="btn btn-primary btn-rounded" style="background-color: #dd4b39;" href="{{s_link}}" role="button"><i
        class="fab fa-google"></i></a>
{% endif %}
{% if s_name=="github" %}
<!-- Github -->
<a class="btn btn-primary btn-rounded" style="background-color: #333333;" href="{{s_link}}" role="button"><i
        class="fab fa-github"></i></a>
{% endif %}
{% if s_name=="whatsapp" %}
<!-- Whatsapp -->
<a class="btn btn-primary btn-rounded" style="background-color: #25d366;" href="{{s_link}}" role="button"><i
        class="fab fa-whatsapp"></i></a>
{% endif %}
{% endmacro %}
<!-- Rounded Icons -->


<!-- Flat Icons -->
{% macro flat_social(s_name, s_link) %}
{% if s_name=="facebook" %}
<!-- Facebook -->
<a style="color: #3b5998;" href="{{s_link}}" role="button"><i class="fab fa-facebook-f fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="twitter" %}
<!-- Twitter -->
<a style="color: #55acee;" href="{{s_link}}" role="button"><i class="fab fa-twitter fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="google" %}
<!-- Google -->
<a style="color: #dd4b39;" href="{{s_link}}" role="button"><i class="fab fa-google fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="instagram" %}
<!-- Instagram -->
<a style="color: #ac2bac;" href="{{s_link}}" role="button"><i class="fab fa-instagram fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="linkedin" %}
<!-- Linkedin -->
<a style="color: #0082ca;" href="{{s_link}}" role="button"><i class="fab fa-linkedin-in fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="github" %}
<!-- Github -->
<a style="color: #333333;" href="{{s_link}}" role="button"><i class="fab fa-github fa-lg m-2"></i></a>
{% endif %}
{% if s_name=="whatsapp" %}
<!-- Whatsapp -->
<a style="color: #25d366;" href="{{s_link}}" role="button"><i class="fab fa-whatsapp fa-lg m-2"></i></a>
{% endif %}
{% endmacro %}
<!-- Flat Icons -->