{% extends "base.html" %}

{% block title_content %}
{{cntxt['user']['user'].fullname}}
{% endblock %}

{% block main_content %}

<main>
    <section id="userhome">
        <div class="container">
            <div class="mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card m-1">
                            <img src="{{ url_for('static', filename='media/'+cntxt['user']['user'].image)}}" class="card-img-top"
                                alt="@{{cntxt['user']['user'].username}}" />
                            <div class="card-body">
                                <h5 class="card-title">{{cntxt['user']['user'].fullname}}</h5>
                                <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                                    data-mdb-target="#imagechoser">Change Picture</button>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="imagechoser" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chose new profile picture</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{url_for('user')}}" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="csrf_token" value="{{cntxt['csrf_token']}}">
                                            <input type="hidden" name="form_name" value="change_picture">
                                            <input type="file" name="new_avatar" class="form-control mb-2" id="new_avatar" />
                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center m-1">
                            <div class="card-header">About Me</div>
                            <div class="card-body">
                                <form action="{{url_for('user')}}" method="POST">
                                    <div class="form-outline mb-2">
                                        <input type="hidden" name="csrf_token" value="{{cntxt['csrf_token']}}">
                                        <input type="hidden" name="form_name" value="change_about_me">
                                        <textarea class="form-control" name="about_me" id="about_me" rows="10">{{cntxt['user']['user'].about_me}}</textarea>
                                        <label class="form-label" for="about_me">{{cntxt['user']['user'].about_me}}</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <!-- Buttons trigger collapse -->
                                <button class="btn btn-primary m-1" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#mysociallinks" aria-expanded="false"
                                    aria-controls="mysociallinks">
                                    My Social links
                                </button>
                                <button class="btn btn-primary m-1" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#myarticles" aria-expanded="false" aria-controls="myarticles">
                                    My Articles
                                </button>
                                {% if cntxt['user']['user'].usertype == 5 %}
                                <button class="btn btn-primary m-1" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#aprearticles" aria-expanded="false" aria-controls="aprearticles">
                                    Articles that require verification
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Collapsed content -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="collapse multi-collapse mt-3 m-1" id="mysociallinks">
                            <div class="text-center m-1">
                                <h4>My Socials</h4>
                            </div>
                            <div class="row">
                                {% for social in cntxt['socials'] %}
                                {% if cntxt['socials'][social]  %}
                                <div class="border border-success rounded p-1" id="btngithub">
                                    {{socialbuttons.block_social(social, cntxt['socials'][social])}}
                                </div>
                                {% else %}
                                <div class="col-12 p-1 mt-1 border border-primary rounded">
                                    <form action="{{url_for('user')}}" method="POST">
                                        <div class="form-outline mb-4">
                                            <input type="hidden" name="csrf_token" value="{{cntxt['csrf_token']}}">
                                            <input type="hidden" name="form_name" value="add_social">
                                            <input type="hidden" name="form_name_desc" value="{{social}}">
                                            <input type="text" name="link_url" id="{{social}}" class="form-control" />
                                            <label class="form-label" for="{{social}}">{{social|capitalize}} link</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Add {{social|capitalize}} link</button>
                                    </form>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="collapse multi-collapse mt-3 m-1" id="myarticles">
                            <div class="row">
                                {% for article in cntxt['user']['user'].articles %}
                                <div class="col-md-6">
                                    <div class="card m-2">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="{{ url_for('static', filename='media/'+article.image)}}"
                                                class="img-fluid" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.title}}</h5>
                                            <p class="card-text">
                                                {{article.body[:25]}}...
                                            </p>
                                            <a href="{{url_for('post', id=article.id)}}" class="btn btn-primary m-1">Read</a>
                                            <a href="{{url_for('edit', id=article.id)}}" class="btn btn-warning m-1">Edit</a>
                                            <!-- <a href="#!" class="btn btn-danger m-1">Delete</a> -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center m-3">
                        <h3>Categories</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 p-1 mt-1 border border-primary rounded">
                            <form action="{{url_for('user')}}" method="POST">
                                <div class="form-outline mb-4">
                                    <input type="hidden" name="csrf_token" value="{{cntxt['csrf_token']}}">
                                    <input type="hidden" name="form_name" value="add_category">
                                    <input type="text" name="new_category" id="add_category" class="form-control" />
                                    <label class="form-label" for="add_category">Category</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Add Category</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            {% for cat in cntxt['categories'] %}
                            <div class="col-md-4 mt-1">
                                <div class="p-2 border border-danger rounded">
                                    {% if cntxt['user']['user'].usertype == 5 %}
                                    <form action="{{url_for('user')}}" method="POST">
                                    {% endif %}
                                        <div class="row">
                                            <div class="col-{% if cntxt['user']['user'].usertype == 5 %}6{% else %}12{% endif %} p-1 text-center">
                                                {{cat.name}}
                                            </div>
                                            {% if cntxt['user']['user'].usertype == 5 %}
                                            <input type="hidden" name="csrf_token" value="{{cntxt['csrf_token']}}">
                                            <input type="hidden" name="form_name" value="delete_category">
                                            <input type="hidden" name="form_name_desc" value="{{cat.name}}">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </div>
                                            {% endif %}
                                        </div>
                                    {% if cntxt['user']['user'].usertype == 5 %}
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if cntxt['user']['user'].usertype == 5 %}
                <div class="row">
                    <div class="col p-2">
                        <div class="collapse multi-collapse mt-3" id="aprearticles">
                            <div class="row">
                                {% for v_article in cntxt['v_articles'] %}
                                <div class="col-md-4">
                                    <div class="card m-2">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="{{ url_for('static', filename='media/'+v_article.image)}}"
                                                class="img-fluid" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{v_article.title}}</h5>
                                            <p class="card-text">
                                                {{v_article.body[:25]}}...
                                            </p>
                                            <a href="{{url_for('post', id=v_article.id)}}" class="btn btn-primary m-1">Read</a>
                                            <!-- <a href="#!" class="btn btn-success m-1">Verify</a> -->
                                            <!-- <a href="#!" class="btn btn-danger m-1">Delete</a> -->
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-center text-muted">Author: {{v_article.user.username}}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}