{% extends "base.html" %}

{% block title_content %}
user
{% endblock %}

{% block main_content %}

<main>
    <section id="userhome">
        <div class="container">
            <div class="mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card m-1">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.jpg" class="card-img-top"
                                alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Name Surname</h5>
                                <a href="#!" class="btn btn-primary">Change Picture</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center m-1">
                            <div class="card-header">About Me</div>
                            <div class="card-body">
                                <form action="">
                                    <div class="form-outline mb-2">
                                        <textarea class="form-control" id="textAreaExample" rows="10"></textarea>
                                        <label class="form-label" for="textAreaExample">About Me</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <!-- Buttons trigger collapse -->
                                <button class="btn btn-primary" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#mysociallinks" aria-expanded="false"
                                    aria-controls="mysociallinks">
                                    My Social links
                                </button>
                                <button class="btn btn-primary" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#myarticles" aria-expanded="false" aria-controls="myarticles">
                                    My Articles
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Collapsed content -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="collapse multi-collapse mt-3 m-1" id="mysociallinks">
                            <div class="row">
                                <div class="border border-success rounded p-1" id="btngithub">
                                    {{socialbuttons.block_social("github", "github")}}
                                </div>
                                <div class="col-12 p-1 mt-1 border border-primary rounded">
                                    <form action="">
                                        <div class="form-outline mb-4">
                                            <input type="text" id="facebook" class="form-control" />
                                            <label class="form-label" for="facebook">Facebook</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="collapse multi-collapse mt-3 m-1" id="myarticles">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card m-2">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg"
                                                class="img-fluid" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up the bulk
                                                of the
                                                card's content.
                                            </p>
                                            <a href="#!" class="btn btn-primary m-1">Read</a>
                                            <a href="#!" class="btn btn-warning m-1">Edit</a>
                                            <a href="#!" class="btn btn-danger m-1">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center m-3"><h3>Categories</h3></div>
                    <div class="col-md-4">
                        <div class="col-12 p-1 mt-1 border border-primary rounded">
                            <form action="">
                                <div class="form-outline mb-4">
                                    <input type="text" id="facebook" class="form-control" />
                                    <label class="form-label" for="facebook">Category</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Add Category</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 mt-1">
                                <form action="" class="p-2 border border-danger rounded">
                                    <div class="row">
                                        <div class="col-6 p-1 text-center">
                                            Category
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}